.wallet { 
  background-color: #02395d;
  height: 100px;
  align-items: center;
  width: 100%;
  flex-direction: row-reverse;
}

.center {
  position: relative;
  width: fit-content;
  margin: 3rem auto;
}

.form > * + * {
  display: flex;
  flex-direction: row;
  margin-top: 8rem;
}

.form button {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  color: rgb(var(--on-accent-rgb));
  background-color: #02395d;
  border: none;
  border-radius: var(--border-radius);
  padding: 1rem;
  font-size: inherit;
  font-weight: 600;
  margin-right: 20px;
}

.form button:hover {
  cursor: pointer;
  background-color: rgb(var(--darker-accent-rgb));
}

.form button span {
  white-space: nowrap;
}

.form button svg {
  width: 1rem;
  fill: currentColor;
}

.field {
  display: block;
}

.field span {
  font-weight: 600;
  font-size: inherit;
}

.field input {
  display: block;
  width: 100%;
  padding: 1rem;
  margin-top: .5rem;
  border: 1px solid rgb(var(--tertiary-background-rgb));
  border-radius: var(--border-radius);
  background: rgb(var(--secondary-background-rgb));
  color: rgb(var(--hint-rgb));
  font-size: inherit;
  line-height: 1.5;
}

.loading {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.loading svg {
  width: 2rem;
  height: 2rem;
  color: rgb(var(--accent-rgb));
  animation: spin 2s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.success {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
  background: rgb(var(--secondary-background-rgb));
  border: 1px solid rgb(var(--tertiary-background-rgb));
  border-radius: var(--border-radius);
  padding: 1rem;
}

.success > div {
  display: flex;
  flex-direction: row;
  gap: .5rem;
}

.success code {
  font-family: var(--font-mono);
  color: rgb(var(--secondary-foreground-rgb));
}

.success svg {
  width: 2rem;
  height: 2rem;
  color: rgb(var(--accent-rgb));
}

.success:hover {
  background-color: rgb(var(--hover-background-rgb));
}

.success:hover code {
  color: rgb(var(--accent-rgb));
}

@media (min-width: 1920px) and (min-height: 1080px) {
  .wallet {
    height: 125px;
  }
}

@media (min-width: 2560px) and (min-height: 1440px) {
  .wallet {
    height: 150px;
  }
}

@media (min-width: 3840px) and (min-height: 2160px) {
  .wallet, .footer {
    height: 298px;
  }
}
@media (max-height: 800px) {
  .wallet { 
    height: 70px;
  }
}